@font-face {
  font-family: 'VisbyCF DemiBold';
  src: url('./assets/fonts/VisbyCF/VisbyCF-DemiBold.ttf');
}

@font-face {
  font-family: 'VisbyCF Medium';
  src: url('./assets/fonts/VisbyCF/VisbyCF-Medium.ttf');
}

@font-face {
  font-family: 'VisbyCF Heavy';
  src: url('./assets/fonts/VisbyCF/VisbyCF-Heavy.ttf');
}

@font-face {
  font-family: 'VisbyCF Bold';
  src: url('./assets/fonts/VisbyCF/VisbyCF-Bold.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
